/* .header{
    background-color: bisque;
    padding:25px 0 25px 0;
}
.body{
    height: 60vh;
}
.banner{
    padding:25px 0 25px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: aquamarine;
}
.circle-button{
    height: 80px;
    width: 80px;
    border-radius: 50px;
}

.circle-button:active {
    background-color: red;
    color: white
}
.convo {
    min-height: 100px;
    background-color: #dcdcff;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
} */
/* You can add global styles to this file, and also import other style files */


.bot-hero {
    width: 200px;
    margin: auto;
    display: block;
    margin-top: 4vh;
}

.button-box {
    background: rgb(250, 130, 124);
    background: linear-gradient(180deg, rgba(250, 130, 124, 1) 0%, rgba(250, 72, 78, 1) 51%, rgba(244, 54, 64, 1) 100%);
    text-align: center;
    padding: 10px 5px 10px 10px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 22px;
    font-size: 18px;
}

.button-gradient-box {
    background: rgb(250, 130, 124);
    background: linear-gradient(180deg, rgba(250, 130, 124, 1) 0%, rgba(250, 72, 78, 1) 51%, rgba(244, 54, 64, 1) 100%);
    color: white;
    border-radius: 22px;
}

.no-margin {
    margin: 0;
}

.blurred-shadow {
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.59);
}

.message-section {
    width: 300px;
    margin: auto;
    color: white;
    text-align: center;
    padding-top: 40px;
    height: 370px;
}

.bot-actions-wrapper {
    width: 100%;
    height: 100px;
    color: white;
}

.third-screen {
    width: 33%;
    display: inline-block;
    text-align: center;
}

.stick-bottom {
    position: fixed;
    bottom: 14px;
}

.stick-bottom-above {
    position: fixed;
    bottom: 20px;
}

.stick-left {
    position: fixed;
    left: 14px;
}

.stick-right {
    position: fixed;
    right: 14px;
}

.full-width {
    width: 100%;
    text-align: center;
}

.sender-span {
    font-weight: bold;
}

.content-fade {
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
    overflow-y: scroll;
}
::placeholder {
    text-align: center;
}

/* CSS */
.button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 6px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}
/* 
.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
} */

.button-24:active {
    opacity: .5;
}
.black-fade-gradient {
    background: rgb(247, 243, 245);
        background: linear-gradient(180deg, rgba(247, 243, 245, 0) 0%, rgba(0, 0, 0, 0.20354079131652658) 51%, rgba(0, 0, 0, 0.5704875700280112) 100%);
}