
<img class="bot-hero" src="assets/img/bot.png" alt="">
<div class="bot-message-box">
    <div class="button-box blurred-shadow">
        <p class="no-margin">Hello There !</p>
    </div>
</div>
<div class="message-section content-fade">
    <p class="no-margin"> <span class="sender-span">SAM:</span> Hello, My name is SAM, I'm your Smart AI that can listen and talk</p>
    <p class="no-margin"> I can help you with a variety of tasks:</p>
        <ul>
            <li>
                Help you with your homework 📚
            </li>
            <li>
                Help you with your work work 🤣
            </li>
            <li>
                Fact-check something for you 🧾 
            </li>
            <li>
                Answer any kind of question you have  ⁉️
            </li>
            <li>
                Write jokes, songs, pickup lines, give you ideas ...
            </li>
        </ul>  
</div>
<div class="bot-actions-wrapper black-fade-gradient">
    <div class="third-screen stick-bottom stick-left">
    </div>
    <div class="full-width stick-bottom" *ngIf="!isMobileApp">
        <h3 style="margin-bottom: 0">Start chatting with me</h3>
        <img src="/assets/img/login-with-google-icon.jpeg" alt="" style="width: 170px;" (click)="signInWithGoogle()">
        <img src="/assets/img/login-with-facebook-icon.png" alt="" style="width: 170px;" (click)="signInWithFacebook()">
    </div>
    <div class="full-width stick-bottom-above" *ngIf="isMobileApp">
        <h3 style="">Login With Email</h3>
        <input type="email" placeholder="Email" [(ngModel)]="loginEmail" [@shake]="shaker.animation" >
        <button class="button-24" style="display: block; margin: auto; margin-top: 6px;" (click)="signInWithEmail()">Sign in</button>
        
    </div>
    <div class="third-screen stick-bottom stick-right">
    </div>
</div>